<!--<html>-->
  

<!--  <h1><%= @show.title %></h1>-->
<!--  <h4>Seasons:</h4>-->
<!--  <p><%= @show.seasons %></p>-->
<!--  <p><u>Channel:</u> <%= @show.channel %></p>-->
<!--  <a href="/shows/<%= @show.id %>/edit">Edit</a> <br/>-->
    
<!--  <form action="/shows/<%= @show.id %>" method="post">-->
<!--  <input id="hidden" type="hidden" name="_method" value="delete">-->
<!--  <input type="submit" value="delete">-->
<!--  </html>-->

<html>
  <h2 style="font-family:verdana; color:#090086" ><%= @show.title %></h2>
  <h4 style="font-family:verdana; color:#090086">Seasons:</h4><p style="font-family:verdana; color:#090086"><%= @show.seasons %></p>
  <h4 style="font-family:verdana; color:#090086">Channel:</h4> 
  <p style="font-family:verdana; color:#090086"><%= @show.channel %></p>
  <p style="font-family:verdana; color:#090086"><a href="/shows/<%= @show.id %>/edit">Edit</a></p> <br/>
    
  <form action="/shows/<%= @show.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
  </html>
  